<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    {{!-- <div class="navbar-header">
      <a class="navbar-brand" href="/">Not Fake News Scraper</a>
    </div> --}}
    <!-- /.navbar-header -->
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Latest Headlines</a></li>
      <li><a href="/saved">Saved Articles</a></li>
    </ul>
      <a class="btn btn-primary navbar-btn scrape-new">Scrape the latest Not Fake News</a>
    
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Not FakeNews Headline Scraper</h1>
    <h3>Articles from "Reason" news source "Free minds and Free Markets"</h3>
  </div>
</div>
<div class="container-fluid article-container">
</div>

{{!-- <footer class="footer">
  <div class="container">
    <p>Pulling the latest from the  </p>
  </div>
</footer> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>